.header {
    background: gray;
    text-decoration: none;
    color: var(--text-color);
}

.header__name {
    
}

.header_nav {
    text-decoration: none;
}

.header-nav__menu {
    display: flex;
    flex-direction: column;
}



@media (min-width: 500px) {
    .header-nav__menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}



